.reveal section .vic-red {
    color: #880000;
}
.reveal section .vic-cyan {
    color: #AAFFEE;
}
.reveal section .vic-purple {
    color: #CC44CC;
}
.reveal section .vic-green {
    color: #00CC55;
}
.reveal section .vic-blue {
    color: #0000AA;
}
.reveal section .vic-yellow {
    color: #EEEE77;
}
.reveal section .vic-orange {
    color: #DD8855;
}
.reveal section .vic-brown {
    color: #664400;
}
.reveal section .vic-lightred {
    color: #FF7777;
}
.reveal section .vic-darkgrey {
    color: #333333;
}
.reveal section .vic-grey {
    color: #777777;
}
.reveal section .vic-lightgreen {
    color: #AAFF66;
}
.reveal section .vic-lightblue {
    color: #0088FF;
}
.reveal section .vic-lightgrey {
    color: #BBBBBB;
}

.reveal section .dim-06 {
    background-color: rgba(0,0,0,0.6);
}
.reveal section .dim-08 {
    background-color: rgba(0,0,0,0.8);
}

.reveal section .source {
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}
.reveal section .overlay {
    border-radius: 1rem;
    padding: 1rem;
}

.reveal section .gap-1 {
    gap: 2rem;
}

.reveal section img.fit-40 {
    height: 40vh;
}
.reveal section img.fit-50 {
    height: 50vh;
}
.reveal section img.fit-60 {
    height: 60vh;
}

.reveal section img.logo {
    height: 36px;
    margin: 0 8px;
}
.reveal section ul.no-ticks {
    list-style: none;
}